1. Load a JSON File attached into you Python (You can use a juypter lab notebook or any Python IDE)

2. Take that file and put it into a Pandas Data Frame

3. Output the results for me for 100 rows

In [70]:
import pandas as pd
import json

In [71]:
with open('coll bb_SortByConf.json', 'r') as f:
  data = json.load(f)

df = pd.json_normalize(data['teams'])
print(df.head(100))

    tid  cid  did                region       name  abbrev  pop  \
0   159    0    0        Boston College     Eagles      BC  161
1   105    0    0               Clemson     Tigers    CLEM  215
2   109    0    0         Florida State  Seminoles     FSU  211
3    18    0    0            Louisville  Cardinals      UL  302
4    31    0    0  North Carolina State   Wolfpack    NCST  289
..  ...  ...  ...                   ...        ...     ...  ...
95  300    5   11    Jacksonville State  Gamecocks  JVILLE   20
96   72    6   12    Eastern Washington     Eagles   EWASH  248
97  139    6   12      Sacramento State    Hornets   SACST  181
98  239    6   12     Northern Colorado      Bears   NOCOL   81
99  266    6   12                 Idaho    Vandals      UI   54

             city state  latitude  longitude
0   Chestnut Hill    MA    42.330    -71.166
1         Clemson    SC    34.678    -82.839
2     Tallahassee    FL    30.442    -84.298
3      Louisville    KY    38.250    -85.766
4         Raleigh    NC    35.786    -78.682
..            ...   ...       ...        ...
95   Jacksonville    AL    33.815    -85.760
96         Cheney    WA    47.488   -117.578
97     Sacramento    CA    38.555   -121.468
98        Greeley    CO    40.416   -104.716
99         Moscow    ID    46.730   -117.000

[100 rows x 11 columns]

4. Answer the following questions using Python:

     a. How many teams are there?
     b. How many teams are in the state of Virginia?
     c. Give me a list of Duplicate Mascots and group them by number....IE. Don't include groups of 1.

In [72]:
## number of teams
num_teams = len(df)
print("a. Total Numver of Teams: ", num_teams)

a. Total Numver of Teams:  320

In [73]:
## teams in state of VA
va_teams = df[df['state']== 'VA']
print("Number of teams in Virginia: ", len(va_teams))

Number of teams in Virginia:  13

In [74]:
## duplicate mascots by number
duplicate_masc = df[df.duplicated(subset =['name'], keep=False)]
dup_masc = duplicate_masc.groupby('name').size()[duplicate_masc.groupby('name').size() > 1]
print("Duplicate Mascots Grouped by Number: ")
print(dup_masc.sort_values(ascending = True))

Duplicate Mascots Grouped by Number:
name
49ers             2
Gaels             2
Gamecocks         2
Highlanders       2
Knights           2
Lions             2
Lumberjacks       2
Falcons           2
Mavericks         2
Phoenix           2
Pioneers          2
Raiders           2
Rebels            2
Roadrunners       2
Titans            2
Mustangs          2
Dukes             2
Wolverines        2
Bisons            2
Colonials         2
Bison             2
Crusaders         2
Catamounts        2
Bruins            2
Buccaneers        2
Bulls             2
Bobcats           3
Broncos           3
Mountaineers      3
Redhawks          3
Hornets           3
Jaguars           3
Terriers          3
Trojans           3
Vikings           3
Cowboys           3
Pirates           3
Spartans          4
Aggies            4
Bears             4
Owls              4
Cardinals         4
Hawks             4
Golden Eagles     4
Cougars           4
Rams              4
Huskies           5
Panthers          8
Wildcats          8
Tigers            9
Eagles           10
Bulldogs         13
dtype: int64